<section
  fxLayout="row"
  fxLayout.lt-md="column"
  class="paymentcontainer"
  [ngClass.lt-md]="{ paymentcontainer: false }"
  *ngIf="isDataLoaded"
  style="background-color: lavender"
>
  <section fxFlex="35%">
    <p>
      <mat-toolbar color="primary">
        <span>Final Items</span>
      </mat-toolbar>
    </p>
    <article
      fxLayout="column"
      style="width: 100%"
      fxLayoutAlign="center center"
    >
      <mat-card
        *ngFor="let cartItem of userCart.cartItems"
        fxFlex="90%"
        class="matitem"
      >
        <mat-card-content>
          <h1>
            {{ cartItem.cartItemProduct.productName }}
          </h1>
          <h2>Quantity - {{ cartItem.productCount }}</h2>
          <h2>
            Buying Price - {{ cartItem.buyingPrice | currency: "&#8377;" }}
          </h2>
          <h1>Grand Total - {{ cartItem.itemTotal | currency: "&#8377;" }}</h1>
        </mat-card-content>
      </mat-card>
    </article>
  </section>
  <section fxFlex="65%" class="registeraddr">
    <p>
      <mat-toolbar color="primary">
        <span>Payment</span>
      </mat-toolbar>
    </p>
    <mat-card
      style="background-color: lavender; margin-top: -10px"
      [ngClass.lt-md]="{ 'mat-card-ltmd': true }"
    >
      <mat-card-content fxLayout="row" fxLayoutAlign="space-between center">
        <div style="font-size: x-large; font-weight: 500">Final Ammout</div>
        <div style="font-size: larger; font-weight: 500">
          {{ userCart.grandTotal | currency: "&#8377;" }}
        </div>
      </mat-card-content>
    </mat-card>
    <mat-card
      [ngClass.lt-md]="{ 'mat-card-ltmd': true }"
      style="margin-top: -20px"
    >
      <mat-card-content>
        <form [formGroup]="formPayment">
          <mat-form-field class="full-width-input" style="width: 100%">
            <button mat-icon-button matPrefix>
              <mat-icon class="mat-18">person</mat-icon>
            </button>
            <input matInput placeholder="Name" formControlName="paymentname" />
          </mat-form-field>
          <div fxLayout="row" fxLayout.lt-md="column">
            <div fxFlex="30" fxFlex.lt-md="100">
              <mat-form-field
                class="full-width-input"
                class="payffield"
                [ngClass.lt-md]="{ payffield: false, payffieldmd: true }"
              >
                <button mat-icon-button matPrefix>
                  <mat-icon class="mat-18">credit_card</mat-icon>
                </button>

                <input
                  matInput
                  placeholder="Card Number"
                  formControlName="paymentcard"
                />
              </mat-form-field>
            </div>
            <div fxFlex="30" fxFlex.lt-md="100">
              <mat-form-field
                class="full-width-input"
                class="payffield"
                [ngClass.lt-md]="{ payffield: false, payffieldmd: true }"
              >
                <button mat-icon-button matPrefix>
                  <mat-icon class="mat-18">lock</mat-icon>
                </button>

                <input
                  matInput
                  placeholder="CVC/CVV"
                  formControlName="paymentcvc"
                />
              </mat-form-field>
            </div>
            <div fxFlex="40" fxFlex.lt-md="100" fxLayout="row">
              <div fxFlex="50">
                <mat-form-field class="full-width-input" class="payffield">
                  <button mat-icon-button matPrefix>
                    <mat-icon class="mat-18">date_range</mat-icon>
                  </button>

                  <input
                    matInput
                    placeholder="Exp. Month"
                    formControlName="paymentexpmonth"
                  />
                </mat-form-field>
              </div>
              <div fxFlex="50">
                <mat-form-field class="full-width-input" class="payffield">
                  <button mat-icon-button matPrefix>
                    <mat-icon class="mat-18">date_range</mat-icon>
                  </button>

                  <input
                    matInput
                    placeholder="Exp. Year"
                    formControlName="paymentexpyear"
                  />
                </mat-form-field>
              </div>
            </div>
          </div>

          <button
            mat-raised-button
            color="primary"
            class="btnaddress"
            (click)="payForm()"
          >
            PAY
          </button>
        </form>
      </mat-card-content>
    </mat-card>
  </section>
</section>
