mat-card {
  width: 100%;
  max-width: 800px;
  margin: 2em auto;
  text-align: center;
}

.matitem {
  width: 100%;
  max-width: 500px;
  margin: 2em auto;
  text-align: center;
  margin-top: -3px;
}

.mat-card-ltmd {
  max-width: 550px !important;
}

mat-form-field {
  margin-bottom: 15px;
  font-size: 1.2em;
}

.paymentcontainer {
  margin: 50px 200px;
}

.payffield {
  width: 95%;
}

.payffieldmd {
  width: 100%;
}
