<!--<app-header></app-header>-->

<div
  gdAreas="header header header | content content content | footer footer footer"
  gdGap="16px"
  gdRows="auto auto auto"
>
  <div gdArea="header">
    <app-header></app-header>
  </div>
  <div gdArea="content">
    <!--style="min-height: 72vh"-->
    <!--<h1 style="text-align: center">{{ showMobile }}</h1>-->
    <app-content></app-content>
  </div>
  <div gdArea="footer"><app-footer></app-footer></div>
</div>

<!--<div fxLayout="row" fxLayoutAlign="space-between">
  <div>Hello1</div>
  <div>Hello2</div>
</div>-->

<!--<mat-grid-list cols="1" rowHeight="6:1">
  <mat-grid-tile><app-content></app-content></mat-grid-tile>
  <mat-grid-tile><app-footer></app-footer></mat-grid-tile>
</mat-grid-list>-->

<!--<div 
  gdAreas="header header | side content | footer footer"
  gdGap="16px"
  gdRows="auto auto auto"
  gdAreas.lt-md="header | side | content | footer"
  gdRows.lt-md="auto auto auto auto"
  >
  ...
</div>-->
