.example-card {
  //max-width: 400px;
  width: 100%;
  margin-top: 15px;
  margin-right: 100px;
}

.example-image-card {
  max-width: 550px;
  margin-top: 15px;
  margin-left: 20px;
  max-height: 350px;
  margin-bottom: 50px;
}

.detail-text {
  margin-top: 30px;
  font-size: 20px;
}
