mat-card {
  width: 100%;
  max-width: 650px;
  margin: 2em auto;
  text-align: center;
}

mat-form-field {
  display: block;
  margin-bottom: 15px;
  font-size: 1.2em;
}

.addresscontainer {
  margin: 50px 200px;
}
