@use "~@angular/material" as mat;

@include mat.core();

/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.nav {
  .logotxt {
    font-size: 26px;
    position: relative;
    bottom: 3px;
  }
  .activelink {
    background-color: #29298f;
  }

  .mat-button:hover {
    background: #000;
    color: rgb(250, 154, 170);
  }
}

mat-sidenav-container {
  //height: 75vh;
  //border: 3px solid #d0c4c4;
  width: 100%;
  mat-sidenav {
    width: 200px;
    margin-left: 5px;
    padding: 16px;
  }

  mat-sidenav-content {
    padding: 16px;
  }
}
