mat-card {
  width: 100%;
  max-width: 500px;
  margin: 2em auto;
  text-align: center;
}

mat-form-field {
  display: block;
  margin-bottom: 15px;
  font-size: 1.2em;
}

.loginsec {
  margin-bottom: 350px;
}

.btnlogin {
  margin-right: 5px;
}

.errText {
  font-size: 1.2em;
}
