<section
  fxLayout="row wrap"
  fxLayoutGap="10px"
  fxLayoutAlign="center center"
  class="confirmsec"
>
  <article
    fxLayout="row"
    fxLayoutAlign="end center"
    fxFlex="48%"
    fxFlex.lt-sm="100%"
  >
    <mat-card class="confirm-card">
      <mat-card-title-group>
        <mat-card-title>Personal Details</mat-card-title>
      </mat-card-title-group>
      <mat-card-content>
        <h4>
          <b>Name:Balaji Visvanathan</b>
        </h4>
        <div>Email:balaji.visvanathan@gmail.com</div>
        <div>Contact:12345678</div>
        <div>Role:USER</div>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>EDIT</button>
      </mat-card-actions>
    </mat-card>
  </article>
  <article
    fxLayout="row"
    fxLayoutAlign="start center"
    fxFlex="48%"
    fxFlex.lt-sm="100%"
  >
    <mat-card class="confirm-card">
      <mat-card-title-group>
        <mat-card-title>Billing Address</mat-card-title>
      </mat-card-title-group>
      <mat-card-content>
        <div>No 55 Kumaran st Vivekananda Nagar</div>
        <div>kknagar west Nesapakkam</div>
        <div>chennai - 600078</div>
        <div>Tamilnadu</div>
        <div>India</div>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>EDIT</button>
      </mat-card-actions>
    </mat-card>
  </article>
</section>
<div fxLayout="row" fxLayoutAlign="center center" class="btnconfirm">
  <button
    mat-raised-button
    color="primary"
    class="btnconfirm"
    routerLink="/medicare/register"
  >
    Confirm
  </button>
</div>
