table {
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  min-width: 500px;
}

.mat-form-field {
  font-size: 20px;
  width: 100%;
}

.mat-form-field-admin {
  font-size: 20px;
  width: 40%;
}

table img {
  width: 50%;
  min-width: 100px;
  max-height: 75px;
  border: 1px solid rgba(17, 17, 17, 0.048);
  padding: 10px;
}

.mat-column-productName {
  padding-left: 16px;
  font-size: 20px;
  width: 19%;
}

.mat-column-productBrand {
  padding-left: 16px;
  font-size: 20px;
  width: 19%;
}

.mat-column-productPrice {
  padding-left: 16px;
  font-size: 20px;
  width: 19%;
}

.mat-column-productQtyAvailable {
  padding-left: 16px;
  font-size: 20px;
  width: 15%;
}

.mat-column-view {
  padding-left: 16px;
  font-size: 20px;
  width: 5%;
}

.mat-column-cart {
  padding-left: 16px;
  font-size: 20px;
  width: 5%;
}

.mat-column-edit {
  padding-left: 16px;
  font-size: 20px;
  width: 5%;
}

.mat-column-delete {
  padding-left: 16px;
  font-size: 20px;
  width: 5%;
}

.mat-sort-header-content {
  font-weight: bold;
}

th.mat-header-cell {
  font-weight: bold;
}

mat-header-cell {
  text-align: center;
  max-width: 300px;
}

mat-paginator {
  font-size: 20px;
}

.btnnewproduct {
  margin-bottom: -25px;
}
