<!--<app-breadcrumb [singleColPage]="true"></app-breadcrumb>-->
<!--<app-product-edit></app-product-edit>-->
<!--<app-user-address-checkout></app-user-address-checkout>-->
<!--<app-payment-cart></app-payment-cart>-->
<!--<app-order-confirm></app-order-confirm>-->
<section class="contactcontainer" [ngClass.lt-md]="{ contactcontainer: false }">
  <p>
    <mat-toolbar
      style="background-color: lavender"
      fxLayout="row"
      fxLayoutAlign="center center"
    >
      <span style="font-size: 1.2em; font-weight: 500">ContactUs</span>
    </mat-toolbar>
  </p>
  <article class="detail-text">
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex quasi modi
      incidunt eum? Ex, quae debitis nesciunt illum asperiores animi cupiditate
      tempore iure temporibus, doloribus minus vero velit ut itaque harum
      repudiandae dolor ratione quam earum deleniti labore commodi laboriosam
      nulla? Eius accusamus atque quasi ducimus quibusdam aliquam officia,
      ratione quia sunt eaque natus, architecto sapiente consequatur incidunt
      illo nisi expedita itaque placeat omnis mollitia a error! Cum placeat qui
      quas obcaecati corrupti, et iusto deleniti natus nisi explicabo dolores
      nostrum! Maiores natus delectus qui quae possimus sed est deleniti culpa,
      cumque explicabo non, at iste? Exercitationem aperiam ipsum amet impedit
      porro hic rem. Nam, quos, harum quo non odio nesciunt eius sapiente
      doloribus, totam excepturi id? Voluptate praesentium dolorem natus
      perferendis molestiae ea quisquam veritatis, odit, voluptates incidunt
      accusamus explicabo alias omnis! Illo dolorum quaerat soluta cupiditate
      eius praesentium laudantium error accusamus quae odio ipsum corrupti
      repudiandae suscipit sequi at accusantium fugit explicabo, nulla eum
      excepturi similique! Soluta dignissimos eius et blanditiis quos obcaecati.
      Ipsa, doloribus numquam. Quo sit praesentium asperiores doloremque vel
      accusantium fugit omnis esse. Quam alias laborum tempora. Veritatis
      sapiente dolorem nobis perferendis rem, fugiat quam in iste ullam qui
      eligendi maxime, dolor, voluptatibus aperiam ratione.
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt aliquam
      modi, autem nobis dolore, et consectetur voluptatibus assumenda maxime
      odit aut dolores aperiam culpa recusandae facere ipsum, laborum id magni.
      Dolore, est accusamus atque modi iure voluptate dicta explicabo et maiores
      autem perspiciatis quos nisi deserunt totam quisquam? Dignissimos
      consequatur quaerat delectus, quo harum officia molestiae quis
      repudiandae, debitis sapiente officiis fuga beatae, ullam ea rerum labore
      aperiam possimus cupiditate error maxime nobis. Tenetur ullam quas autem
      laboriosam quasi magni nam non quidem labore. Non quibusdam voluptate
      molestiae, blanditiis architecto fuga suscipit assumenda pariatur aliquid
      dolor quam ex sed consequuntur recusandae delectus. Maxime, minima!
      Consectetur ea esse commodi ipsa harum officiis nam, cupiditate,
      dignissimos laudantium sint aspernatur molestias, tenetur error deserunt?
      Necessitatibus deserunt autem nihil aliquid, veniam commodi quia id nulla
      impedit incidunt eveniet, laudantium inventore. Laborum, id laboriosam
      soluta beatae molestiae, minus quasi similique placeat esse eius mollitia
      explicabo aut quia eos architecto commodi. Architecto officia modi
      exercitationem, dolor corrupti tenetur mollitia consequuntur. Similique
      voluptatum porro maiores doloremque veritatis cupiditate a iusto,
      laboriosam nostrum sapiente tempore perferendis excepturi libero quidem
      facere iste voluptates maxime explicabo dolore asperiores! Quis, saepe
      voluptas! Deleniti mollitia veritatis nobis ipsa, eius suscipit possimus
      reprehenderit.
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi mollitia
      expedita rem ipsum beatae illo minima placeat laudantium? Dolorem nostrum
      voluptates sit, tenetur aliquid ratione accusantium delectus rem tempora
      mollitia enim aspernatur voluptatem harum est saepe quasi dicta impedit
      necessitatibus consequuntur hic porro ipsam facere maiores. Minus sapiente
      perspiciatis quas culpa neque eveniet laborum sunt unde impedit eaque
      doloremque recusandae dolores animi fuga quis, quod et voluptate vitae
      accusamus nobis optio! Molestias fuga dignissimos voluptate aliquam saepe
      tempora. Optio repellendus laudantium repudiandae quaerat neque aliquam
      ratione maxime consequuntur culpa beatae architecto nam mollitia corrupti
      distinctio nisi minus facilis qui molestiae, repellat vitae excepturi,
      temporibus amet placeat. Dolorum, maiores. Impedit modi ullam earum nulla
      neque, culpa, minus facilis unde, perferendis corrupti deleniti nam illum
      quas! Facilis eligendi reprehenderit magnam fuga inventore illum vel
      nulla? Alias, qui fuga harum neque sapiente quo quidem repellat error
      facere aperiam quibusdam dolores ea beatae obcaecati, magni velit
      molestias explicabo a ipsam? Ducimus, voluptatem et explicabo corporis a
      repellendus similique quam quaerat mollitia eius culpa. Explicabo fugit
      quis, dolore, ullam beatae unde omnis eveniet facere natus nulla quia, eum
      cupiditate! Magnam porro, modi repellendus explicabo voluptatum corrupti
      assumenda illo sunt in dolorum voluptates totam atque molestias.
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni, vitae
      mollitia dolores omnis inventore aliquam deleniti iusto eius numquam!
      Voluptate veritatis obcaecati error consectetur quidem voluptates
      doloribus alias rem explicabo reprehenderit dolores quis placeat,
      voluptatem blanditiis assumenda delectus libero quo incidunt at optio
      cumque nostrum. Ipsa odit, vel aperiam pariatur corporis impedit id
      perferendis ea! Sit atque accusamus numquam, sunt facilis veniam beatae ex
      nemo debitis, itaque minima similique magnam est aperiam commodi labore
      fugit quae quos maiores ab accusantium reiciendis eum dignissimos.
      Explicabo, animi excepturi accusantium, quidem nam unde nisi hic nesciunt
      officiis praesentium nemo voluptas facere placeat ex?
    </p>
  </article>
</section>
