mat-card {
  width: 100%;
  max-width: 500px;
  margin: 2em auto;
  text-align: center;
  border: 5px solid cornflowerblue;
}

mat-form-field {
  display: block;
  margin-bottom: 15px;
  font-size: 1.2em;
}

.cardtitle {
  margin-bottom: 40px;
}

.registersec {
  margin-bottom: 25px;
}

.filelabel {
  font-size: larger;
  //margin-left: 40px;
  margin-right: 5px;
  color: #6e6969;
}

.filenametxt {
  font-size: larger;
  margin-left: 5px;
  margin-right: 5px;
}

.file-upload {
  margin-top: 15px;
  margin-bottom: 25px;
}

.errText {
  font-size: 1.2em;
}

.btnregister {
  margin-top: 40px;
  margin-right: 5px;
}

example-radio-group {
  margin: 5px;
}

.example-radio-button {
  margin: 5px;
}

.file-input {
  display: none;
}

.btnCategory {
  margin-top: -20px;
  font-size: 0.8em;
}
