<mat-toolbar color="primary">
  <mat-toolbar-row
    style="height: 60px"
    fxLayout="row"
    fxLayoutAlign="space-between center"
  >
    <div>
      <button mat-button routerLink="/home">
        <span class="logotxt">Medicare</span>
      </button>
    </div>

    <div>
      <button
        mat-icon-button
        *ngIf="!authService.IsAuthenticated"
        aria-label="Example icon-button with a menu"
      >
        <mat-icon>more_vert</mat-icon>
      </button>
      <button
        mat-icon-button
        *ngIf="authService.IsAuthenticated"
        [matMenuTriggerFor]="menu"
        aria-label="Example icon-button with a menu"
        style="margin-right: 100px"
      >
        {{ authService.UserName }}
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="appSignOut()">
          <mat-icon style="font-size: large">Logout</mat-icon>
          <span>Logout</span>
        </button>
        <button mat-menu-item>
          <mat-icon>notifications_off</mat-icon>
          <span>Disable alerts</span>
        </button>
      </mat-menu>

      <!-- <mat-menu #belowMenu="matMenu" yPosition="below">
          <button mat-menu-item>Item 1</button>
          <button mat-menu-item>Item 2</button>
        </mat-menu>
        [matMenuTriggerFor]="belowMenu"
       -->
      <button
        mat-button
        fxHide.lt-sm="true"
        routerLink="/register"
        routerLinkActive="activelink"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        Sign Up
      </button>
      <button
        mat-button
        fxHide.lt-sm="true"
        routerLink="/signin"
        routerLinkActive="activelink"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        Login
      </button>
    </div>
  </mat-toolbar-row>
  <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
    <div>
      <button
        mat-button
        routerLink="/aboutus"
        routerLinkActive="activelink"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        About
      </button>
    </div>
    <div>
      <button
        mat-button
        routerLink="/contactus"
        routerLinkActive="activelink"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        Contact
      </button>
    </div>
    <div>
      <button
        mat-button
        routerLink="/viewpub-prod"
        routerLinkActive="activelink"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        View Products
      </button>
    </div>
  </mat-toolbar-row>

  <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
    <div>
      <button mat-icon-button aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
      </button>
    </div>
    <div>
      <button
        mat-button
        *ngIf="!authService.IsAuthenticated"
        routerLink="/register"
        routerLinkActive="activelink"
        [routerLinkActiveOptions]="{ exact: true }"
        style="margin-left: 175px"
      >
        Sign Up
      </button>
    </div>
    <div>
      <button
        mat-button
        *ngIf="!authService.IsAuthenticated"
        routerLink="/signin"
        routerLinkActive="activelink"
        [routerLinkActiveOptions]="{ exact: true }"
        style="margin-left: 200px"
      >
        Login
      </button>
    </div>
    <div>
      <button
        mat-button
        *ngIf="authService.IsAuthenticated"
        (click)="appSignOut()"
      >
        Logout
      </button>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
