mat-card {
  width: 100%;
  max-width: 500px;
  margin: 2em auto;
  text-align: center;
}

mat-form-field {
  display: block;
  margin-bottom: 15px;
  font-size: 1.2em;
}

.form-title {
  width: 100%;
  max-width: 535px;
  margin-top: 2em;
  margin-bottom: -30px;
  text-align: center;
}

.registersec {
  margin-bottom: 20px;
}

.errText {
  font-size: 1.2em;
}

.btnregister {
  margin-top: 30px;
}

example-radio-group {
  margin: 5px;
}

.example-radio-button {
  margin: 5px;
}

.registersec {
  margin-bottom: 20px;
}

.btnaddress {
  margin-right: 10px;
}

.btnconfirm {
  margin-right: 5px;
  margin-top: 20px;
  margin-bottom: 200px;
}

.confirmsec {
  margin-top: 20px;
}

.confirm-card {
  width: 100%;
  max-width: 550px;
}
