<mat-stepper
  labelPosition="bottom"
  linear="false"
  (selectionChange)="selectionChange($event, stepper)"
  [orientation]="
    breakPointService.Sm || breakPointService.Xs ? 'vertical' : 'horizontal'
  "
  #stepper
>
  <mat-step [stepControl]="formRegister">
    <section fxLayout="row" fxLayoutAlign="center center">
      <p class="form-title">
        <mat-toolbar
          style="background-color: lavender"
          fxLayout="row"
          fxLayoutAlign="center center"
        >
          <span style="font-size: 1.2em; font-weight: 500"
            >Medicare Register - Personal</span
          >
        </mat-toolbar>
      </p>
    </section>
    <section class="registersec" fxLayout="row" fxLayoutAlign="center center">
      <mat-card>
        <mat-card-content>
          <form [formGroup]="formRegister">
            <ng-template matStepLabel>Personal Details</ng-template>

            <mat-form-field class="full-width-input">
              <input
                matInput
                placeholder="First Name"
                formControlName="firstname"
              />
              <mat-error *ngIf="firstname?.errors?.['required']">
                Firstname is required
              </mat-error>
            </mat-form-field>

            <mat-form-field class="full-width-input">
              <input
                matInput
                placeholder="Last Name"
                formControlName="lastname"
              />
              <mat-error *ngIf="lastname?.errors?.['required']">
                Lastname is required
              </mat-error>
            </mat-form-field>

            <mat-form-field class="full-width-input">
              <input matInput placeholder="Email" formControlName="email" />
              <mat-error *ngIf="email?.errors?.['required']">
                Email address required
              </mat-error>
              <mat-error *ngIf="email?.errors?.['email']">
                Please provide a valid email address
              </mat-error>
              <mat-error *ngIf="email?.errors?.['emailExists']">
                Email already exists!
              </mat-error>
            </mat-form-field>

            <mat-form-field class="full-width-input">
              <input
                matInput
                placeholder="Contact Number"
                formControlName="contactnumber"
                (keypress)="keyConfirmPasswordPress($event)"
              />
              <mat-error *ngIf="contactnumber?.errors?.['required']">
                Phone Number required
              </mat-error>
              <mat-error
                *ngIf="contactnumber?.errors?.['pattern'] || contactnumber?.errors?.['minlength'] || contactnumber?.errors?.['maxlength']"
              >
                Please enter a valid 10 digit phone number
              </mat-error>
            </mat-form-field>

            <mat-form-field class="full-width-input">
              <input
                matInput
                type="password"
                placeholder="Password"
                formControlName="password"
              />

              <mat-error *ngIf="password?.errors?.['required']">
                Password required
              </mat-error>
              <mat-error
                *ngIf="password?.errors?.['minlength']||password?.errors?.['maxlength']"
              >
                Password length should be minimum 3 - 12 characters. characters
              </mat-error>
            </mat-form-field>
            <mat-form-field class="full-width-input">
              <input
                matInput
                type="password"
                placeholder="Confirm Password"
                formControlName="confirmpassword"
              />
              <mat-error *ngIf="confirmpassword?.errors?.['required']">
                Confirm Password required
              </mat-error>

              <mat-error *ngIf="confirmpassword?.hasError('mismatch')">
                Password and Confirm Password didn't match.
              </mat-error>
            </mat-form-field>
            <div>
              <mat-radio-group
                aria-label="Select an option"
                formControlName="selectrole"
                fxLayout="row"
                fxLayoutAlign="center center"
                class="example-radio-group"
              >
                <mat-radio-button class="example-radio-button" value="user"
                  >User</mat-radio-button
                >
                <mat-radio-button class="example-radio-button" value="Supplier"
                  >Supplier</mat-radio-button
                >
              </mat-radio-group>
              <mat-error
                *ngIf="selectrole?.errors?.['required'] && formPersonalSubmitAttempt"
              >
                Please select a role
              </mat-error>
            </div>

            <button
              mat-raised-button
              color="primary"
              class="btnregister"
              (click)="submitPersonal(stepper)"
            >
              Next - Address
            </button>
          </form>
        </mat-card-content>
      </mat-card>
    </section>
  </mat-step>
  <mat-step [stepControl]="formAddress">
    <section fxLayout="row" fxLayoutAlign="center center">
      <p class="form-title">
        <mat-toolbar
          style="background-color: lavender"
          fxLayout="row"
          fxLayoutAlign="center center"
        >
          <span style="font-size: 1.2em; font-weight: 500"
            >Medicare Register - Address</span
          >
        </mat-toolbar>
      </p>
    </section>
    <section class="registeraddr" fxLayout="row" fxLayoutAlign="center center">
      <mat-card>
        <mat-card-content>
          <form [formGroup]="formAddress">
            <ng-template matStepLabel>Address Details</ng-template>
            <mat-form-field class="full-width-input">
              <input
                matInput
                placeholder="Address Line One"
                formControlName="addrlineone"
              />
              <mat-error *ngIf="addrlineone?.errors?.['required']">
                Address Line One is required
              </mat-error>
            </mat-form-field>

            <mat-form-field class="full-width-input">
              <input
                matInput
                placeholder="Address Line Two"
                formControlName="addrlinetwo"
              />
              <mat-error *ngIf="addrlinetwo?.errors?.['required']">
                Address Line Two is required
              </mat-error>
            </mat-form-field>

            <mat-form-field class="full-width-input">
              <input matInput placeholder="City" formControlName="city" />
              <mat-error *ngIf="city?.errors?.['required']">
                City required
              </mat-error>
            </mat-form-field>

            <mat-form-field class="full-width-input">
              <input
                matInput
                placeholder="Postal Code"
                formControlName="postalcode"
                (keypress)="keyPasscodePress($event)"
              />
              <mat-error *ngIf="postalcode?.errors?.['required']">
                Postal code required
              </mat-error>
              <mat-error
                *ngIf="postalcode?.errors?.['pattern'] || postalcode?.errors?.['minlength'] || postalcode?.errors?.['maxlength']"
              >
                Please enter a valid postalcode
              </mat-error>
            </mat-form-field>

            <mat-form-field class="full-width-input">
              <input matInput placeholder="State" formControlName="state" />
              <mat-error *ngIf="state?.errors?.['required']">
                State required
              </mat-error>
            </mat-form-field>
            <mat-form-field class="full-width-input">
              <input matInput placeholder="Country" formControlName="country" />
              <mat-error *ngIf="country?.errors?.['required']">
                Country required
              </mat-error>
            </mat-form-field>
            <button
              mat-raised-button
              color="primary"
              class="btnaddress"
              (click)="submitAddress(stepper, 'previous')"
            >
              Back - Personal
            </button>
            <button
              mat-raised-button
              color="primary"
              class="btnaddress"
              (click)="submitAddress(stepper, 'next')"
            >
              Next - Confirm
            </button>
          </form>
        </mat-card-content>
      </mat-card>
    </section>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Submit</ng-template>
    <mat-error
      *ngIf="formSubmitAttempt && formError"
      style="text-align: center"
    >
      Please correct all the errors in previous steps before
      submitting</mat-error
    >
    <section
      class="confirmsec"
      fxLayout="row wrap"
      fxLayoutGap="2px"
      fxLayoutAlign="center center"
    >
      <article class="confirm-card">
        <mat-card>
          <mat-card-title-group
            style="margin-bottom: 10px"
            fxLayout="row"
            fxLayoutAlign="center center"
          >
            <mat-card-title>Personal Details</mat-card-title>
          </mat-card-title-group>
          <mat-card-content>
            <h4>
              <b>Name:{{ fullname }}</b>
            </h4>
            <div>Email:{{ email?.value }}</div>
            <div>Contact:{{ contactnumber?.value }}</div>
            <div>Role:{{ selectrole?.value | uppercase }}</div>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button (click)="moveStepper(0, stepper)">EDIT</button>
          </mat-card-actions>
        </mat-card>
      </article>
      <article class="confirm-card">
        <mat-card>
          <mat-card-title-group
            style="margin-bottom: 10px"
            fxLayout="row"
            fxLayoutAlign="center center"
          >
            <mat-card-title>Billing Address</mat-card-title>
          </mat-card-title-group>
          <mat-card-content>
            <div>{{ addrlineone?.value }}</div>
            <div>{{ addrlinetwo?.value }}</div>
            <div>{{ citywithzip }}</div>
            <div>{{ state?.value }}</div>
            <div>{{ country?.value }}</div>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button (click)="moveStepper(1, stepper)">EDIT</button>
          </mat-card-actions>
        </mat-card>
      </article>
    </section>
    <div fxLayout="row" fxLayoutAlign="center center" class="btnconfirm">
      <button
        mat-raised-button
        color="primary"
        class="btnconfirm"
        matStepperPrevious
      >
        Back
      </button>
      <button
        mat-raised-button
        color="accent"
        class="btnconfirm"
        (click)="submitForm()"
      >
        Submit
      </button>

      <button
        class="btnconfirm"
        mat-raised-button
        color="warn"
        (click)="stepper.reset()"
      >
        Reset
      </button>
    </div>
  </mat-step>
</mat-stepper>
